# Core Django
Django==5.0.1

# REST Framework
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1

# Database
mysqlclient==2.2.1

# HTTP Requests
requests==2.31.0

# Additional utilities
python-decouple==3.8
